/node_modules
/public/hot
/public/storage
/public/js
/public/css
public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
kpayment-functions.js
public/web.config
.vscode/

public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
composer.lock
yarn.lock

*.bak